@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: 'Josefin Sans', sans-serif;
}


body {
    background:linear-gradient( 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%));
    min-width: 375px;
    max-width: 1440px;
    font-size: 16px;                                                                                                          
}

.logo {
    padding: 30px;
}

.image-mobile {
    width: 100%;
}

.image-mobile img {
    width: 100%;
    object-fit: cover;
}

.text {
   margin: 10px 0;
}

.text .title {
    font-size: 38px;
    text-transform: uppercase;
    color: #ce9797;
    letter-spacing:10px;
    margin-bottom: 20px;
}

.destaque {
    font-weight:lighter;
}

.bold {
    color:  hsl(0, 6%, 24%);
}

.text-2 {
    line-height: 25px;
    color: #ce9797;
}

form {
    margin:50px 0 100px 0;
    position: relative;
}

.input-email {
    position: relative;
    width: 100%;
    border: 1px solid #ce9797;
    border-radius: 25px;
    
}

.input-email input{
    padding: 15px;
    border-radius: 25px;
    width: 80%;
}

#email::placeholder {
    color: #ce9797;
}

.button {
    background:#f96262;
    width: 20%;
    position: absolute;
    right: 0;
    top: 0;
    height: 44px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.errorimage {
    position: absolute;
    right: 110px;
    top: 10px;
    display: none;
}

.errorMessage {
    position: absolute;
    color: #f96262;
    margin-left: 15px;
    margin-top: 10px;
}

.button img {
    width: 12px;
    height: 20px;
}
@media screen and (max-width:800px) {
    
    .right {
        display: none;
    }

    .left {
        width: 375px;
        margin: auto;
    }

    .text {
        padding: 15px;
    }

    .text .title {
        text-align: center;
    }

    .text-2 {
        text-align: center;
    }
    
}

@media screen and (min-width:800px) {

    
    main {
        width: 100%;
        height: 100vh;
    }
    
    .image-mobile {
        display: none;
    }

    .container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 100vh;
    }

    .left {
        width: 55%;
    }

    .right {
        width: 40%;
    }
    .right .image-desktop {
        width: 100%;
        height: 100%;
        position: relative;
    }

    .right .image-desktop img{
        position: absolute;
        width:100%;
        height: 100%;
        object-fit: cover;
    }

    .logo {
        padding: 0;
        margin-bottom: 100px;
    }

    .left-container {
        padding: 40px 170px 40px 140px;
        text-align: left;
    }

    .text .title {
        font-size: 50px;
        text-transform: uppercase;
        color: #ce9797;
        letter-spacing:15px;
        margin-bottom: 20px;
    }
}